<mat-toolbar color="primary" *ngIf="isLogged">
  <mat-toolbar-row>
    <span>Todo List</span>
    <span class="example-spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu" class="btn-right">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="cerrarSesion()">
        Cerrar sesión
      </button>
    </mat-menu>

  </mat-toolbar-row>
</mat-toolbar>


<router-outlet></router-outlet>

